<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="app :: head">
		
	</head>
	
<body>
	<nav th:replace="app :: navigation"></nav>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<a th:href="@{/siswa/tambah}" class="btn btn-primary">Tambah</a>
				<hr/>
			</div>
		</div>
		<div class="row">			
			<div class="col-md-12">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<th>No</th>
						<th>NIM</th>
						<th>Nama</th>
						<th>Jurusan</th>
						<th>Edit</th>
						<th>Delete</th>
					</thead>
					<tbody>
						<tr th:each="sws,xno: ${siswa}">
							<td th:text="${xno.count}"></td>
							<td th:text="${sws.nim}"></td>
							<td th:text="${sws.nama}"></td>
							<td th:text="${sws.jurusanRelasi.jurusan}"></td>
							<td>
								<a th:href="@{'/siswa/ubah/' + ${sws.id}}">Edit</a>
							</td>
							<td>
								<a th:href="@{'/siswa/hapus/' + ${sws.id}}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
	
	<div th:replace="app :: footer"></div>
</body>
</html>